name: CI - Build Images for Docker Compose

on:
  push:
    branches: [ lab4 ]  
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker Compose images
        uses: docker/build-push-action@v5  
        with:
          context: .
          push: true
          tags: |
            ghcr.io/ryzalena/static-site-lab4:latest
            ghcr.io/ryzalena/static-site-lab4:${{ github.sha }}
          labels: |
            org.opencontainers.image.source=https://github.com/ryzalena/static-website-example
            lab.work=4
            docker.compose=true

      - name: Build and push database image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.db
          push: true
          tags: |
            ghcr.io/ryzalena/static-site-db:latest
            ghcr.io/ryzalena/static-site-db:${{ github.sha }}
