name: Deploy Static Site

on:
  release:
    types: [published]
  push:
    branches: [github-actions]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Deploy to VM
      uses: appleboy/ssh-action@v1
      with:
        host: course.prafdin.ru
        username: styzhev
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2200
        script: |
          # Переходим в директорию
          cd /var/www/static-website-example
          
          # Обновляем код
          git fetch origin
          git reset --hard origin/main
          
          # Или альтернатива: удаляем и клонируем заново
          # rm -rf /var/www/static-website-example/*
          # git clone https://github.com/ryzalena/static-website-example.git /var/www/static-website-example
          
          # Перезапускаем nginx
          sudo systemctl reload nginx
          
          echo "✅ Deployment completed!"
