# .github/workflows/deploy.yml
name: Deploy to VM

on:
  push:
    branches: [ main, github-actions ]
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    
    - name: Deploy to server
      run: |
        # 1. Копируем файлы на VM
        scp -o StrictHostKeyChecking=no -P 2200 -r \
          ./* \
          ${{ secrets.SSH_USER }}@course.prafdin.ru:/var/www/app.ryzhova.course.prafdin.ru/
        
        # 2. Перезапускаем сервер на VM
        ssh -o StrictHostKeyChecking=no -p 2200 \
          ${{ secrets.SSH_USER }}@course.prafdin.ru "
          cd /var/www/app.ryzhova.course.prafdin.ru
          sudo systemctl restart static-app
        "
