name: CD Pipeline - Simple Working

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: DEPLOY
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: course.prafdin.ru
        username: ${{ secrets.SSH_USER }}  # styzhev
        key: ${{ secrets.SSH_PRIVATE_KEY }} # ПРИВАТНЫЙ ключ из VM
        port: 2200
        script: |
          echo "SSH AUTH SUCCESSFUL!"
          echo "User: $(whoami)"
          
          # Простой деплой
          cd ~/app
          echo '<h1>SSH WORKS!</h1>' > index.html
          python3 -m http.server 8181 &
          
          echo "Site: http://app.ryzhova.course.prafdin.ru"
