name: Deploy Static Site

on:
  release:
    types: [published]
  push:
    branches: [github-actions]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Deploy to VM
      uses: appleboy/ssh-action@v1
      with:
        host: course.prafdin.ru
        username: styzhev
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2200
        script: |
          # Переходим в директорию
          cd /var/www/static-website-example
            
          echo "=== BEFORE ==="
          ls -la
          
          # 3. Клонируем или копируем
          git clone https://github.com/ryzalena/static-website-example.git /tmp/new-site
          sudo cp -r /tmp/new-site/* .
          
          echo "=== AFTER ==="
          ls -la
          
          # 4. Фиксируем права
          sudo chown -R $USER:$USER .
          sudo chmod -R 755 .
          
          # Перезапускаем nginx
          sudo systemctl reload nginx
          
          echo "✅ Deployment completed!"
