name: CD Pipeline

on:
  push:
    branches: [ main, github-actions ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    
    - name: Deploy to VM
      run: |
        # Копируем ВСЕ файлы из репозитория на VM
        ssh -o StrictHostKeyChecking=no -p 2200 \
          user@course.prafdin.ru "mkdir -p /var/www/app.ryzhova.course.prafdin.ru"
        
        scp -o StrictHostKeyChecking=no -P 2200 -r \
          ./* \
          user@course.prafdin.ru:/var/www/app.ryzhova.course.prafdin.ru/
        
        # Перезапускаем сервис
        ssh -o StrictHostKeyChecking=no -p 2200 \
          user@course.prafdin.ru "
          cd /var/www/app.ryzhova.course.prafdin.ru
          sudo systemctl restart static-app
        "
