name: Deploy Static Site

on:
  # Автоматически после сборки
  workflow_run:
    workflows: ["Docker Build and Push"]
    types: [completed]
  
  # Или вручную
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1
      with:
        host: course.prafdin.ru
        username: ryzhova
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2200
        script: |
          # Простой деплой Docker контейнера
          docker stop website 2>/dev/null || true
          docker rm website 2>/dev/null || true
          
          # Токен передается через переменные окружения
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          
          docker pull ghcr.io/ryzalena/static-website-example:labs3
          docker run -d --name website -p 80:80 \
            ghcr.io/ryzalena/static-website-example:labs3
          
          echo "✅ Деплой завершен!"
