name: Deploy to VM

on:
  workflow_run:
    workflows: ["Docker Build and Push"]
    branches: [labs3]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            # Pull latest image
            docker pull ghcr.io/ryzalena/static-website:latest
            
            # Stop and remove old container
            docker stop static-site || true
            docker rm static-site || true
            
            # Run new container
            docker run -d \
              --name static-site \
              -p 8888:8888 \
              ghcr.io/ryzalena/static-website:latest
