name: Build and push Docker image

on:
  push:
    branches: [ labs3 ]  

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5  
        with:
          context: .
          push: true
          tags: |
            ghcr.io/ryzalena/static-site-lab3:latest
            ghcr.io/${{ github.repository_owner }}/static-site:${{ github.event.release.tag_name }} 
            ghcr.io/${{ github.repository_owner }}/static-site:latest

          labels: |
            org.opencontainers.image.source=https://github.com/ryzalena/static-website-example
